In [11]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
from tensorflow.keras.utils import to_categorical

In [42]:
stroke_df = pd.read_csv("healthcare-dataset-stroke-data.csv")
stroke_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [43]:
stroke_df.drop(columns=['id'], inplace = True)
stroke_df.dropna(inplace=True)

In [44]:
stroke_df.work_type.value_counts()

Private          2811
Self-employed     775
children          671
Govt_job          630
Never_worked       22
Name: work_type, dtype: int64

In [45]:
stroke_df = stroke_df[stroke_df.gender != 'Other']
stroke_df.gender.value_counts()

Female    2897
Male      2011
Name: gender, dtype: int64

In [46]:
dummies_stroke_df = pd.get_dummies(stroke_df)
dummies_stroke_df.rename(columns={"gender_Female":"female","gender_Male":"male", 
                                  "ever_married_No":"unmarried","ever_married_Yes":"married",
                                 "Residence_type_Urban":"Urban", "Residence_type_Rural":"Rural",
                                 "smoking_status_smokes": "smokes", "smoking_status_never smoked": "never_smoked",
                                  "smoking_status_formerly smoked": "formerly smoked",
                                  "smoking_status_Unknown": "unknown_smoker",
                                  "work_type_Private" : "private_worker", "work_type_Self-employed" : "self_employed",
                                  "work_type_children" : "child_non_worker", "work_type_Govt_job" : "govt_job",
                                  "work_type_Never_worked" : "never_worked"
                                 }, inplace =True)
dummies_stroke_df.head(130)

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,female,male,unmarried,married,...,never_worked,private_worker,self_employed,child_non_worker,Rural,Urban,unknown_smoker,formerly smoked,never_smoked,smokes
0,67.0,0,1,228.69,36.6,1,0,1,0,1,...,0,1,0,0,0,1,0,1,0,0
2,80.0,0,1,105.92,32.5,1,0,1,0,1,...,0,1,0,0,1,0,0,0,1,0
3,49.0,0,0,171.23,34.4,1,1,0,0,1,...,0,1,0,0,0,1,0,0,0,1
4,79.0,1,0,174.12,24.0,1,1,0,0,1,...,0,0,1,0,1,0,0,0,1,0
5,81.0,0,0,186.21,29.0,1,0,1,0,1,...,0,1,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,70.0,0,1,239.07,26.1,1,1,0,0,1,...,0,1,0,0,1,0,0,0,1,0
151,68.0,0,1,223.83,31.9,1,0,1,0,1,...,0,1,0,0,0,1,0,1,0,0
152,80.0,0,0,76.57,34.1,1,1,0,0,1,...,0,0,1,0,0,1,0,0,1,0
153,68.0,0,0,77.82,27.5,1,0,1,0,1,...,0,0,1,0,0,1,0,0,0,1
154,55.0,0,0,92.98,25.6,1,1,0,0,1,...,0,0,1,0,1,0,0,0,1,0

In [47]:
data = dummies_stroke_df.values

X = data[:, 0:-1]
y = data[:, -1]

ValueError: y should be a 1d array, got an array of shape (4908, 20) instead.

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [14]:
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train.data, y_train)
rf.score(X_test, y_test)

ValueError: could not convert string to float: 'Female'

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,ever_married_No,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.6,1,0,1,0,0,...,0,1,0,0,0,1,0,1,0,0
2,80.0,0,1,105.92,32.5,1,0,1,0,0,...,0,1,0,0,1,0,0,0,1,0
3,49.0,0,0,171.23,34.4,1,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1
4,79.0,1,0,174.12,24.0,1,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0
5,81.0,0,0,186.21,29.0,1,0,1,0,0,...,0,1,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,13.0,0,0,103.08,18.6,0,1,0,0,1,...,0,0,0,1,1,0,1,0,0,0
5106,81.0,0,0,125.20,40.0,0,1,0,0,0,...,0,0,1,0,0,1,0,0,1,0
5107,35.0,0,0,82.99,30.6,0,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0
5108,51.0,0,0,166.29,25.6,0,0,1,0,0,...,0,1,0,0,1,0,0,1,0,0
5109,44.0,0,0,85.28,26.2,0,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0